@font-face {
    font-family: 'potta_oneregular';
    src: url('./fonts/pottaone-regular-webfont.woff2') format('woff2'),
         url('./fonts/pottaone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: "potta_oneregular";
}

html {
    background-image: url("./images/bg.png");
}

h1, h2, p {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    width: 100vw;
    background-color: rgb(255, 222, 115);
}

nav {
    display: flex;
    gap: 1.5rem;
}

button {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: "potta_oneregular";
    font-size: 1.5rem;
    width: 130px;
    background-color: rgb(255, 222, 115);
}

.container {
    display: flex;
    justify-content: center;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 2rem 1rem;
    border-radius: 3rem;
    background-color: rgb(255, 222, 115);
    width: 50%;
    padding: 3rem; 
}

.heading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(193, 106, 8);
    clip-path: polygon(
        0 33.3%,
        6% 0,
        94% 0,
        100% 33.3%,
        100% 66.6%,
        94% 100%,
        6% 100%,
        0 66.6%);
    width: 47rem;
    height: 4rem;
    padding: 10px;
    position: relative;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.heading {
    background-color: rgb(255, 198, 11);
    clip-path: polygon(
    0 33.3%,
    5% 0,
    95% 0,
    100% 33.3%,
    100% 66.6%,
    95% 100%,
    5% 100%,
    0 66.6%);
    text-align: center;
    width: 47rem;
    height: 4rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.short-header {
    width: 20rem;
}

.short-header > h1 {
    font-size: 2rem;
}

.first {
    margin-top: 0;
}

h1 {
    font-family: "potta_oneregular";
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

img {
    width: 4rem;
    position: absolute;
}

.left-bee {
    left: 0.5rem;
}

.right-bee { 
    right: 0.5rem;
}

.item-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(193, 106, 8);
    clip-path: polygon(0px 21%, 11% 0px, 89% 0px, 100% 21%, 100% 79%, 89% 100%, 11% 100%, 0px 79%);
    width: 30rem;
    height: 20rem;
    padding: 20px;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    background-color: rgb(255, 198, 11);
    clip-path: polygon(0px 20%, 10% 0px, 90% 0px, 100% 20%, 100% 80%, 90% 100%, 10% 100%, 0px 80%);
    width: 30rem;
    height: 20rem;
    box-sizing: border-box;
    padding: 30px;
    position: relative;
}

.item > * {
    margin: 0;
    padding: 0;
}

.item > h2 {
    padding-left: 2rem;
}

.menu-item-image {
    width: 5rem;
    height: 5rem;
    border: 1px solid red;
    border-radius: 5px;
    position: absolute;
    right: 4rem;
    bottom: 2rem;
}

.small {
    height: 10rem;
}

.medium {
    height: 15rem;
}

.padding-left {
    padding-left: 2rem;
}